/* Header.css */

header {
  /*   background: linear-gradient(to right, #ABDFF1, #E1DDDB);  */
  background-color: #2434f4;
  color: #fff;
}

.primary-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  list-style: none;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.primary-nav li {
  transition: transform 0.3s ease;
  margin: 0;
}

.primary-nav li:hover {
  transform: translateY(-5px);
  color: #fff;
}

.primary-nav a {
  position: relative;
  padding: 1rem;
  color: #fff !important; /* Set the link color to white */
  text-decoration: none !important; 
}

.primary-nav a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  color: #fff;
  transition: width 0.3s ease;
}

.primary-nav a:hover::before {
  width: 100%;
}
